footer {
	background-color: white;
	height: 60px;
	width: 100%;
	border-top: 1px solid #CCCCCC;
	bottom: 0;
	position: fixed;
	text-align: center;
	line-height: 60px
}

footer p{
	height: 30px;
	text-align: center;
}
