/* External Styling for 3-index.html header */
header{
	color: white;
	height: 70px;
	width: 100%;
	border-bottom: 1px solid #CCCCCC;
}

header.logo{
	background-image: url("../images/logo.png");
	height: 100px;
	padding-left: 20px;
	background-repeat: no-repeat;
	display: block;
}
