/* External Styling for Filters */

.filters{
color: white;
height: 70px;
width: 100%;
border: 1px solid #DDDDDD;
border-radius: 4px;
}

button{
font-size: 18px;
background-color: #FF5A5F;
color: #FFFFFF;
height: 48px;
width: 100%;
border: none;
border-radius:4px;
position: absolute;
right: 30px;
left: 10px;
}

button:hover{
    opacity: 0.9;
}
