/* External styling for 6-index.html*/
.popover{
background-color: #FAFAFA;
width: 100%รท
border: 1px solid #DDD;
border-radius: 4px;
line-height: normal;
height: 200px;
list-style: none;
visibility: hidden;
}

.popover ul, .popover li{
    line-height: 160%;
}

.locations:hover .popover, .amenities:hover .popover{
    visibility: visible;
}

.amenities .popover{
    padding-top: 20px;
    height: 150%;
}

filters{
    color: white;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
}

button{
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 100%;
    border: none;
    border-radius:4px;
    position: absolute;
    right: 30px;
    left: 10px;
}
button:hover{
    opacity: 0.9;
}

.locations, .amenities{
    height: 100%;
    width: 25px;
    border-right: 1px solid #DDD;
}

.locations h3, .amenities h3{
    font-weight: 600px;
}

.locations h4, .amenities h4{
    font-weight: 400px;
    font-size: 14px;
}
